<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.korzh.poehali" >

    <!-- Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location using network and GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Google maps requirements -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Floating notifications -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Automatic phone number confirmation can read the last call -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainMenu"
            android:label="@string/title_activity_mainmenu"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MapView"
            android:label="@string/title_activity_map_view"
            android:parentActivityName=".activities.MainMenu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activities.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.MainMenu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".dialogs.PhoneNumberValidation"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.Profile"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".dialogs.NewOrder"
            android:label="@string/title_activity_route_picker"
            android:parentActivityName=".activities.MapView"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".dialogs.PointPicker"
            android:label="@string/title_activity_place_picker"
            android:parentActivityName=".dialogs.NewOrder"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activities.OrdersView"
            android:label="@string/title_activity_orders_view"
            android:parentActivityName=".activities.MainMenu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".dialogs.UserSettings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainMenu"
            android:theme="@style/AppTheme" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAhxkrQOcjS10Igum2hxwmoWahzP5bnQBs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".activities.ServiceFloating"
            android:exported="true" />

        <activity
            android:name=".dialogs.NewNavigationRoute"
            android:label="@string/title_activity_navigation_route_picker" >
        </activity>
    </application>

</manifest>
